* {
    box-sizing: border-box;
}

body {
    background: #fdfffc;
    color: #011627;
    font-size: 100%;
    line-height: 1.4;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0;
}

h1, h2, h3, .nom {
    font-family: "Changa One", cursive;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: .75rem;
}

p {
    line-height: 1.5;
}

a {
    color: #e71d36;
    text-decoration: none;
}

/* Entête et menu */
header {
    background-color: #011627;
    padding: 10px;
}

header .logo {
    text-align: center;

}

header .logo .nom {
    color: #2ec4b6;
    font-size: 1.75rem;
}

header .logo .metier {
    font-size: 1.2rem;
    margin-top: -5px;
}